# Python
__pycache__/
*.pyc

# Virtual Environment
venv/

# Streamlit
.streamlit/

# Database
*.db

# Reports
reports/*.pdf
reports/*.xlsx

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Temporary files
*.log

.env
__pycache__/
*.pyc