.main-title{
    font-size:40px;
    font-weight:bold;
    color:#2563EB;
}

.subtitle{
    font-size:20px;
    color:#64748B;
}

.kpi-card{
    padding:15px;
    border-radius:12px;
    border:1px solid #ddd;
    background:#fafafa;
}
/* Hide only the helper text under the Upload button */
[data-testid="stFileUploader"] div small {
    display: none !important;
}



/* Hide only "200MB per file • CSV, XLSX" */
[data-testid="stFileUploaderDropzoneInstructions"] span {
    display: none !important;
}